<article>
    <a href="/profile"> &larr; Back to your profile</a>
    <h2>
        Edit Transaction
    </h2>
    <form class="edit-transaction-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <span>({{format_url post.post_url}})</span>
        </div>
        <div>
            {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>
        <button type="submit">Save Transaction</button>
        <button type="button" class="delete-tranaction-btn">Delete Transaction</button>
    </form>
</article>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>