<h2> Welcome to your profile {{this.user.0.username}}</h2>
<section>
    <h2>Budget</h2>
    <div>
        ${{this.user.0.monthly_income}}
        <button type="button" class="edit-income" id="modal-btn">Edit Income</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <form class="edit-income-form">
                    <div>
                        <div class="incomeId">{{this.user.0.id}}</div>
                        <label for="monthly_income">Monthly Income:</label>
                        <input type="number" id="monthly_income" name="monthly_income" value="{{user.0.monthly_income}}"/>
                        <button type="submit" class="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{#if user.0.transactions.length}}
    <section>
        <h2>Your Transactions</h2>
        <ol class="transaction-list">
            {{#each user.0.transactions}}
            <li>
                <div class="meta">
                    <a href="/profile/edit/{{id}}">{{memo}}</a>
                    <p>How much: ${{amount}}</p> 
                    <p>Date of transaction: {{format_date date}}</p> 
                    <p>Category: {{category}}</p>
                    {{log amount}}
                </div>
            </li>
            {{/each}}
        </ol>  
        
    </section>
    {{/if}}
     
    <div>
        **Pie chart**
    </div>
</section>
<div>
    <a href="/transaction">
        <button type="button">Add transaction</button>
    </a>
</div>
<script src="/javascript/edit-income.js"></script>