<div>Hello!</div>

<section>
    <h2>budget</h2>
    <div>{{monthly_income}}</div>
    <ol class="transaction-list">
        <li>
            <div>
                {{memo}} {{amount}} {{date}} {{category}}
            </div>
        </li>
    </ol>
    <div>
        **Pie chart**
    </div>
</section>
<div>
    <button type="button">Edit Income</button>
</div>
<div>
    <button type="button">Edit Transaction</button>
</div>
<a href="/transaction">
    <button type="button">Add transaction</button>
</a>
<button type="button" class="destroyTransaction">Delete transaction</button>
</div>

<!--<script src="/javascript/transaction.js"></script>
<script src="/javascript/login.js"></script>-->