<h2> Welcome to your profile {{this.user.0.username}}</h2>
<section>
    <h2>Budget</h2>
    ${{this.user.0.monthly_income}}
    {{log this.user.0.username}}
    {{log this.user.0.transactions}}
    {{#if this.user.0.transactions.length}}
    <section>
        <h2>Your Transactions</h2>
        <ol class="transaction-list">
            {{#each user.0.transactions}}
            <li>
                <div class="meta">
                    <a href="/profile/edit/{{id}}">{{memo}}</a>
                    {{log id}}
                    <p>How much: ${{amount}}</p> 
                    <p>Date of transaction: {{format_date date}}</p> 
                    <p>Category: {{category}}</p>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}
    <div>
        **Pie chart**
    </div>
</section>
<div>
    <button type="button">Edit Income</button>
</div>
<div>
    <button type="button">Edit Transaction</button>
</div>
<a href="/transaction">
    <button type="button">Add transaction</button>
</a>
<button type="button" class="destroyTransaction">Delete transaction</button>
</div>

<!--<script src="/javascript/profile.js"></script>-->