<h2> Welcome to your profile!</h2>
<section>
    <h2>budget</h2>
    <!--<div>{{monthly_income}}</div>-->
    {{#if transaction.length}}
    <section>
        <h2>Your Transactions</h2>
        <ol class="transaction-list">
            {{#each transaction}}
            <li>
                <div class="meta">
                    {{transaction.memo}} {{transaction.amount}} {{transaction.date}} {{transaction.category}}
                </div>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}
    <div>
        **Pie chart**
    </div>
</section>
<div>
    <button type="button">Edit Income</button>
</div>
<div>
    <button type="button">Edit Transaction</button>
</div>
<a href="/transaction">
    <button type="button">Add transaction</button>
</a>
<button type="button" class="destroyTransaction">Delete transaction</button>
</div>

<!--<script src="/javascript/transaction.js"></script>
<script src="/javascript/login.js"></script>-->